/* This is the stysheet for smaller latop sizes and larger ones */
@media screen and (min-width: 1024px) and (max-width: 1300px) {
    /* NAVIGATION BAR STYLES */
    nav, .hero {
        padding: 0 20px;
    }
    nav ul:nth-child(3), .policies {
        display: none;
    }
    /* HERO STYLES */
    .hero {
        width: calc(90dvw);
    }
    .carousel-item {
        width: calc(100%);
        padding: 0 50px;
    }
    .creator-collective, footer {
        padding: 40px;
    }
    .creator-collective-image {
        width: 90dvw;
        background-size: contain;
    }
}


/* Stylesheet for larger screens */
@media screen and (min-width: 1600px) {
    nav, .hero, .products-section, .mobile-computing, .tv-and-audio, .sustainability, .home-appliances, .never-miss-a-thing, .creator-collective, .something-new, footer {
        max-width: 1440px;
        margin: 0 auto;
    }
    .hero {
        height: 700px;
    }
    .carousel-item {
        height: 700px;
    }
}