*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
}

/* Blocked Classes */
.mobile-only, ul.menu-items {
    display: none;
}

/* Font Classes */
.font-samsung-sans {
    font-family: 'Samsung Sans', sans-serif;                                       
}
.font-samsung-sharp {
    font-family: 'Samsung Sharp Sans', sans-serif;
}

/* Generic Classes */
.flex {
    display: flex;
    align-items: center;
}
.justify-center{
    display: flex;
    justify-content: center;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.space-between {
    justify-content: space-between;
}
.space-evenly {
    justify-content: space-evenly;
}
a.buy-btn {
    background-color: #000000;
    color: #f2f2f2;
    border-radius: 50px;
}
.underlined {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.title-big {
    font-weight: 700;
    font-size: clamp(30px, 2.5vw, 2vw);
    margin-bottom: 20px;
}
.bg-cover {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.mobile-buttons {
    margin-top: 15px;
}
.mobile-buttons a {
    margin: 15px;
    padding: 10px 20px;
}

/* NAVIGATION BAR STYLES */
nav {
    height: 100px;
    padding: 0 100px;
}
nav ul li {
    margin-right: 10px;
    font-weight: 600;
    color: #000000;
}

/* HERO STYLES */
.hero {
    width: calc(100dvw - 200px);
    height: calc(100dvh - 150px);
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    position: relative;
}
.carousel-item {
    flex: 0 0 auto;
    width: calc(100% - 200px);
    height: 530px;
    align-items: center;
    padding: 0 100px;
    display: none;
    transition: all 0.5s ease-in-out;
}
.current-slide {
    display: flex;
    transition: all 0.5s ease-in-out;
}
div.carousel-item h2, div.carousel-item p, div.hero-buttons{
    width: 500px;
}
div.carousel-item h2 {
    font-weight: 700;
    font-size: clamp(25px, 2.5vw, 2vw); 
}
div.carousel-item p {
    margin: 20px 0; 
}
div.hero-buttons a {
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: 700;
}
div.carousel-item div.hero-buttons a.black {
    background-color: #000000;
    color: #f2f2f2;
}
div.carousel-1 {
    background-image: url("../assets/backgrounds/background-couresel-1.png");
    color: #f2f2f2;
}
div.carousel-1 div.hero-buttons a:first-child, div.carousel-6 div.hero-buttons a:first-child {
    color: #f2f2f2;
    text-decoration: solid #f2f2f2 underline 2px;
}
div.carousel-1 div.hero-buttons a:last-child {
    background-color: #f2f2f2;
    color: #000000;
}
div.carousel-2 {
    background-image: url("../assets/backgrounds/background-couresel-2.png");
}
div.carousel-3 {
    background-image: url("../assets/backgrounds/background-couresel-3.png");
}
div.carousel-4 {
    background-image: url("../assets/backgrounds/background-couresel-4.png");
}
div.carousel-5 {
    background-image: url("../assets/backgrounds/background-couresel-5.png");
}
div.carousel-6 {
    background-image: url("../assets/backgrounds/background-couresel-6.png");
    color: #f2f2f2;
}
div.carousel-5 div.hero-buttons a:first-child {
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #000000;
}
.toggle-btn {
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 1.5vw;
    background-color: gray;
    color: #f2f2f2;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.toggle-btn#prev-btn {
    left: 20px;
}
.toggle-btn#next-btn {
    right: 20px;
}

/*PRODUCTS SECTION*/
#products-section-tittle{
    padding: 2vw 0vw;
}
.products-section{
    width: calc(90dvw );
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.font-sizing{
    font-size:38px;
    line-height: 45.6px;
    position: relative;
    text-align: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    grid-gap: 5px;
}
.box {
    padding: 0px;
    margin: 20px;  
}
.products-section-img{
    max-width: 100%;
    height: auto;
}


/* Mobile & Computing Section */
.mobile-computing {
    padding: 40px 100px;
    text-align: center;
}
.mobile-computing .mobile-image {
    width: 90%;
    height: 400px;
    margin: 10px auto;
    background-size: contain;
    background-image: url("../assets/backgrounds/mobile.png");
}
.mobile-computing .mobile-buttons a.learn-more-btn {
    color: #000000;
    padding-bottom: 4px;
    border-bottom-width: 50%;
    border-bottom: 2px solid #000000;
}

/*TV and Audio Secion*/
.tv-and-audio{
    padding:40px 100px;
}
.tv-and-audio-image {
    width: 90%;
    height: 400px;
    background-image: url("../assets/backgrounds/tvandaudio.png");
    background-size: contain;
    margin: 10px auto;
}
.text-align{
    text-align: center;
}
.buy-button {
    text-align: center;
    margin-top: 15px;
    margin: 15px;
    padding:  25px;
    padding-bottom: 12px;
    padding-top: 12px;
    background-color: #000000;
    color: #f2f2f2;
    border-radius: 50px;
}

/* Home Appliance Section */
.home-appliances {
    padding: 40px 100px;
    text-align: center;
}
.home-appliances-image {
    width: 90%;
    height: 400px;
    margin: 10px auto;
    background-size: contain;
    background-image: url("../assets/backgrounds/homeappliances.png");
}  

/*sustainability*/
.sustainability {
    padding: 40px 100px
}
.sustainability-image{
    width: 90%;
    height: 400px;
    background-image: url("../assets/backgrounds/sustainability.png");
    background-size: contain;
    margin: 10px auto;
    
}
a.learn-more-btn{
    color: black;
}

/* Never Miss a thing */
.never-miss-a-thing {
    padding: 40px 100px;
}
.never-miss-a-thing .buy-button {
    margin-left: 0;
}
.never-miss-image {
    width: 200px;
    aspect-ratio: 1/1;
    background-size: contain;
    background-image: url("../assets/backgrounds/never-miss-a-thing.png");
} 
.never-miss-a-thing h2:last-child {
    margin-top: 8px;
    text-align: center;
}

/* Collector Creative */
.creator-collective {
    padding: 0px 100px;
}
.creator-collective-image {
    margin: 0 auto;
    width: 1000px;
    height: 600px;
    background-image: url("../assets/backgrounds/creator-collective.png");
    background-size: contain;
}

/* Something New Styles */
.something-new {
    padding: 40px 100px;
}
.something-new h2 {
    text-align: center;
}
.something-new input {
    margin: 15px auto;
    padding: 20px 50px;
    border-radius: 50px;
    width: 300px;
    display: block;
    outline: 1px solid #333;
}
.something-new .keywords {
    width: 480px;
    margin: 0 auto;
}
.something-new .keywords button {
    outline: 1px solid #333;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 50px;
}

/* Footer Styles */
footer {
    padding: 40px 100px;
}
.footer-main {
    padding: 20px;
    border-top: 1px solid #333;
    align-items: flex-start;
}
.footer-main:first-child p {
    text-align: center;
}
.footer-main article {
    width: 25%;
    padding-left: 5px;
    height: 100%;
}
.footer-main hr {
    border: 1px solid #333;
}
.footer-main article li {
    margin: 8px 0;
}
.footer-main li {
    margin-left: 10px;
}
.footer-main img {
    width: 20px;
    height: 20px;
}
